<% content_for :title, "Editing comentario" %>

<h1>Editing comentario</h1>

<%= render "form", comentario: @comentario %>

<br>

<div>
  <%= link_to "Mostrar este comentario", @comentario, class: "btn-new btn-link" %> |
  <%= link_to "Volver a comentarios", comentarios_path, class: "btn-new btn-link" %>
</div>
