<% content_for :title, "New comentario" %>

<h1>New comentario</h1>

<%= render "form", comentario: @comentario %>

<br>

<div>
  <%= link_to "Volver a comentarios", comentarios_path, class: "btn-new btn-link" %>
</div>
