<div id="<%= dom_id categorium %>">
  <p>
    <strong>ID:</strong>
    <%= categorium.id %>
  </p>
  <p>
    <strong>Nombre:</strong>
    <%= categorium.nombre %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= categorium.descripcion %>
  </p>

</div>
