<div id="<%= dom_id categorium %>" class="usuario-info-container">
  <table class="usuario-info-table">
    <tr>
      <th>ID</th>
      <td><%= categorium.id %></td>
    </tr>
    <tr>
      <th>Nombre:</th>
      <td><%= categorium.nombre %></td>
    </tr>
    <tr>
      <th>Descripcion:</th>
      <td><%= categorium.descripcion %></td>
    </tr>
  </table>
</div>
