<% content_for :title, "Editing categorium" %>

<h1>Editing categorium</h1>

<%= render "form", categorium: @categorium %>

<br>

<div>
  <%= link_to "Mostrar esta categoría", @categorium, class: "btn-new btn-primary" %> |
  <%= link_to "Volver a la categoría", categoria_path, class: "btn-new btn-primary" %>
</div>
