
<div style="display: flex; flex-direction: column; align-items: center; margin-top: 20px;">
  <div style="display: flex; justify-content: center; margin-bottom: 10px;">
    <%= link_to "Usuarios", usuarios_path, class: "boton-inicio" %>
    <%= link_to "Artículos", articulos_path, class: "boton-inicio" %>
  </div>
  <div style="display: flex; justify-content: center;">
    <%= link_to "Categorías", categoria_path, class: "boton-inicio" %>
    <%= link_to "Comentarios", comentarios_path, class: "boton-inicio" %>
  </div>
</div>
