<div id="<%= dom_id usuario %>">
  <p>
    <strong>ID:</strong>
    <%= usuario.id %>
  </p>
  <p>
    <strong>Nombre:</strong>
    <%= usuario.nombre %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= usuario.email %>
  </p>

</div>
