<% content_for :title, "Editing usuario" %>

<h1>Editing usuario</h1>

<%= render "form", usuario: @usuario %>

<br>

<div>
  <%= link_to "Mostrar este usuario", @usuario, class: "btn-new btn-primary" %> |
  <%= link_to "Volver a usuarios", usuarios_path, class: "btn-new btn-primary" %>
</div>
