<% content_for :title, "New usuario" %>

<h1>Nuevo usuario</h1>

<%= render "form", usuario: @usuario %>

<br>

<div>
  <%= link_to "Volver a usuarios", usuarios_path, class: "btn-new btn-primary" %>
</div>
