@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.form-container {
    font-family: 'Montserrat';
    max-width: 300px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #007bff;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 123, 255, 0.3);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-messages {
    color: #ff4d4d;
    background-color: #ffe6e6;
    border: 1px solid #ff4d4d;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
}

.form-group label {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
}

.form-control:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
}

.btn {
    width: 100%;
    padding: 10px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    font-weight: 800;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    text-decoration: none;
}

.btn:hover {
    background-color: #0056b3;
}